{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action=" " enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {% if current_user.is_authenticated %}
                        {{ form.body.label(class="form-control-label") }}
                        {% if form.body.errors %}
                        {{ form.body(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.body.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.body(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                {% else %}
                <h2>You must be logged in to post a comment</h2>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}