{% extends "layout.html" %}
{% block content %}
{% for post in posts.items %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' +
                                                        post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{
                post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <center><a href="{{ url_for('posts.post', post_id=post.id) }}">
            <img src="{{ post.post_image_file }}" alt="{{ posts.title }}" height="75%" width="75%"></a>

            <!--Upvote button STARTS here-->
            <ul class="article-footer-metadata">
                {% if current_user.is_authenticated %}
                <li>
                    <form action="{{ url_for('posts.upvote', post_id=post.id, user_id = current_user.id) }}">
                        <input type="submit" class="btn btn-outline-primary btn-sm active" aria-pressed="true"
                               value="⇪ {{ post.votes }}"/>
                    </form>
                </li>
                {% else %}
                <li>
                    <form action="{{ url_for('posts.upvote_guest') }}">
                        <input type="submit" class="btn btn-outline-primary btn-sm active" aria-pressed="true"
                               value="⇪ {{ post.votes }}"/>
                    </form>
                </li>
                {% endif %}
            <!--Upvote button ENDS here-->

            <!--Comment Section START here-->
                <li>
                {% if post.comments.count() > 0 %}
                    <form action="{{ url_for('posts.post', post_id=post.id) }}">
                     <input type="submit" class="btn btn-outline-primary btn-sm active" aria-pressed="true"
                               value="{{ post.comments.count() }}
                        Comments"/>
                    </form>
                {% else %}
                     <form action="{{ url_for('posts.post', post_id=post.id) }}">
                     <input type="submit" class="btn btn-outline-primary btn-sm active" aria-pressed="true"
                               value="No Comments Yet"/>
                    </form>
                 {% endif %}
             <!--Comment Section END here-->
            </ul>
        </center>
    </div>
</article>

{% endfor %}
{% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
{% if posts.page == page_num %}
<a class="btn btn-info mb-4" href="{{ url_for('main.home',page=page_num) }}">{{ page_num }}</a>
{% else %}
<a class="btn btn-outline-info mb-4" href="{{ url_for('main.home',page=page_num) }}">{{ page_num }}</a>
{% endif %}
{% else %}
...
{% endif %}
{% endfor %}
{% endblock content %}
