{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' +
                                                    post.author.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{{ url_for('users.user_posts', username=post.author.username) }}">{{
                post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            {% if post.author == current_user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('posts.update_post',
                                                                   post_id=post.id) }}">Update</a>
                <button type="button" class="btn btn-danger btn-sm mr-1" data-toggle="modal"
                        data-target="#deleteModalLong">Delete
                </button>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</h2>
        <div><img src="{{ post.post_image_file }}" alt="{{ post.title }}"></div>
        <p class="article-content">{{ post.content }} </p>
        <center>
            <ul class="article-footer-metadata">
                {% if current_user.is_authenticated %}

                <li><a href="{{ url_for('posts.upvote', post_id=post.id, user_id = current_user.id) }}"
                       type="button" class="btn btn-outline-primary btn-sm active"
                       onclick="document.location.reload(true)';"
                       aria-pressed="true">⇪</a>
                    <p>{{ post.votes }}</p>
                </li>
                {% else %}
                <li><a href="{{url_for('posts.upvote_guest')}}"
                       type="button" class="btn btn-outline-primary btn-sm active" aria-pressed="true">⇪</a>
                    <p>{{ post.votes }}</p>
                </li>
            </ul>
            {% endif %}
            <li>
            </li>
            </ul>
            {% if post.comments %}
            {% if post.comments.count() > 0 %}
            <h2>Comments</h2>
                <div>
                    {% for comment in post.comments %}
                <h4 class="text-bold">{{ comment.user_id }}</h4>
                <p>{{ comment.timestamp.strftime('%Y-%m-%d') }}</p>
                <p>{{ comment.body }}</p>
                {% endfor %}
                </div>
            {% endif %}
            {% endif %}
        </center>
</article>
<!-- Modal -->
<div class="modal fade" id="deleteModalLong" tabindex="-1" role="dialog" aria-labelledby="deleteModalLongTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLongTitle">Delete Post?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
